.main{
  padding: 12px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
.video{
  width: 480px;
  height: 360px;
  background-color: rgb(7, 7, 7);
}
.control{
  margin-top: 60px;
}

.btn{
  padding: 4px 16px;
  margin: 0 8px;
  font-size: 1.4rem;
}